<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="pt-5">
        <div class="card col-md-8 offset-md-2">
            <h2 class="card-header">
                Registration
            </h2>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/register/save}"
                        th:object="${userCreationDTO}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">User Name</label>
                        <input
                                class="form-control"
                                id="username"
                                name="username"
                                placeholder="Enter username"
                                th:field="*{username}"
                                type="text"
                                minlength="2"
                                maxlength="15"
                                required
                        />
                        <p th:errors="*{username}" class="text-danger"
                           th:if="${#fields.hasErrors('username')}">
                        </p>
                        <div th:if="${usernameNotUnique}" class="text-danger">
                            <span> This username exists, please change.</span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Last Name</label>
                        <input
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                placeholder="Enter last name"
                                th:field="*{fullname}"
                                type="text"
                                minlength="8"
                                maxlength="15"
                                required
                        />
                        <p th:errors="*{fullname}" class="text-danger"
                           th:if="${#fields.hasErrors('fullname')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <i>example }a5p5i5Q-N</i>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                th:field="*{password}"
                                type="password"
                                minlength="8"
                                maxlength="20"
                                required
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                    </div>

                    <input type="hidden" th:field="*{role}" th:value="USER">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>


