<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <title>Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Une erreur est survenue !</h4>
        <p th:text="${errorMessage}">Il semble que nous avons rencontré un problème. Veuillez réessayer plus tard.</p>
        <hr>
        <p class="mb-0">Si le problème persiste, veuillez contacter l'administrateur du site.</p>
    </div>
</div>


</body>
</html>