<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <h3> HOME PAGE </h3>
    <p>
        <th:block th:unless="${isUserAnonymous}">
            <a href="/logout">Logout</a>
        </th:block>
        <th:block th:if="${isUserAnonymous} ">
            <a href="/login">Login</a>
        </th:block>
        <th:block th:if="${isAdmin}">
            or create one <a href="/user/list">User management</a>
        </th:block>
    </p>


    <!--    si je suis loggé-->

    <div class="text-center">
        <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
        <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
        <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
        <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
        <a href="/ruleName/list">Rule</a>
    </div>

</div>
</body>
</html>